<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>管理者画面</title>
	<link rel="stylesheet" type="text/css" href="/css/admin.css" />
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<h1>管理者画面</h1>
		<button class="adminMenu" onclick="location.href='/admin/user'">ユーザー管理</button><br>
		<button class="adminMenu" onclick="location.href='/admin/request'" style="text-decoration:none;">出品申請管理<span th:if="${requestCount} > 0"
				style="color: red;" class="alate">!</span></button><br>
		<button class="adminMenu" onclick="location.href='/admin/addTextbook'">教科書の登録</button><br>
		<button class="adminMenu" onclick="location.href='/admin/addLesson'">授業の登録</button>
		<footer th:replace="footer"></footer>
	</main>
</body>

</html>