<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>出品申請詳細画面</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
	<link rel="stylesheet" type="text/css" href="/css/adminItem.css">
	<!--<link rel="stylesheet" type="text/css" href="/css/admin.css" />-->
</head>

<body>
	<header th:replace="header"></header>
	<main class="deteil">
		<div class="container">
			<div class="boxImage">
				<ul class="slider">
					<th:block th:each="image:${images}">
						<li><img th:src="'/img/'+${image.imagePath}" th:alt="'/img/'+${image.imagePath}" /></li>
					</th:block>
				</ul>
			</div>
			
			<div class="boxText">
				<h1>出品申請詳細画面</h1>
				<span class="title" th:text="${textbook.title}"></span>
				<table border="1">
					<tr>
						<td>出品者</td>
						<td th:text="${user.studentNumber}"></td>
					</tr>
					<tr>
						<td>状態</td>
						<td th:if="${item.itemStatus == 1}">新品</td>
						<td th:if="${item.itemStatus == 2}">中古</td>
						<td th:if="${item.itemStatus == 3}">書き込みあり</td>
						<td th:if="${item.itemStatus == 4}">破損あり</td>
					</tr>
				</table>
				<br>
				<form th:action="'/admin/request/' + ${item.id}" method="post" style="display: inline;">
					<input type="hidden" name="status" value="3">
					<button class="itemStatus">許可</button>
				</form>
				<form th:action="'/admin/request/' + ${item.id}" method="post" style="display: inline;">
					<input type="hidden" name="status" value="2">
					<button class="itemStatus">不許可</button>
				</form>
			</div>
		</div>
	<footer th:replace="footer"></footer>
	</main>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
	<script src="/js/item.js"></script>
</body>

</html>