<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>授業一覧</title>
	<link rel="stylesheet" type="text/css" href="/css/admin.css" />
</head>

<body>
<header th:replace="header"></header>
	<main>
		<h1>授業一覧</h1>
		<table border="1">
			<tr>
				<th>授業名</th>
				<th>教員名</th>
				<th>曜日・時限</th>
			</tr>
			<tr th:each="lesson:${lessons}">
				<td th:text="${lesson.name}"></td>
				<td th:each="user:${users}" th:if="${user.id == lesson.teacherId}"><span th:each="teacher:${teachers}" th:if="${teacher.personalNumber == user.personalNumber}" th:text="${teacher.name}"></span></td>
				<td><span th:if="${lesson.day == 1}">月</span><span th:if="${lesson.day == 2}">火</span><span
						th:if="${lesson.day == 3}">水</span><span th:if="${lesson.day == 4}">木</span><span
						th:if="${lesson.day == 5}">金</span><span th:if="${lesson.day == 6}">土</span><span
						th:if="${lesson.day == 7}">日</span>・[[${lesson.period}]]</td>
			</tr>
		</table>
		<button class="adminMenu" onclick="location.href='/admin/addLesson'">授業の登録</button>
		<footer th:replace="footer"></footer>
	</main>
</body>

</html>