@charset "UTF-8";

/* 全体 */
body {
	text-align: center;
}

.timeTable {
	margin-right: auto;	
	margin-left: auto;
	
}
#tabletitle{
	background-color: #003775;
	color:white;
	font-size: 30px;
}
#option{
	width: fit-content;
	height: fit-content;
	font-size: 20px;
	min-width: 200px;
}
.btn{
	color:#003775;
  font-size: 20px;
  font-weight: bold;
  background: #6C9BD2;
  padding: 5px 30px;
  border-radius: 6px;
  transition: .3s;
  cursor: pointer;
  margin-top: 18px;
}
.btn:hover{
	background-color: #003775;
	color: white;
	cursor: pointer;
}