@charset "UTF-8";

body {
	background-color: azure;
	text-align: center;
	min-width: 900px;
}

.title {
	font-size: 30px;
}

input {
	width: 80%;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 20px;
	margin: 2px;
}

button.adminMenu {
	width: 60%;
	padding: 10px;
	background-color: rgb(255, 57, 0);
	color: black;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 200%;
	margin: 1%;
	font-weight: bold;
	min-width: fit-content;
}

button.list {
	padding: 5px;
	background-color: rgb(255, 57, 0);
	color: white;
	border: none;
	border-radius: 3px;
	margin: 3px;
	cursor: pointer;
	min-width: fit-content;
}

button.list:hover {
	background-color: rgb(255, 159, 123);
	color: white;
}

button.itemStatus {
	width: 15%;
	padding: 10px;
	background-color: rgb(255, 57, 0);
	color: black;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 200%;
	margin: 1%;
	min-width: fit-content;
}

main button:hover {
	background-color: rgb(255, 159, 123);
	color: black;
}


table {
	margin: auto;
	white-space: pre-line;
	font-size: 20px;
}

.msg {
	text-align: left;
}

.list {
	height: fit-content;
	width: fit-content;
}

td {
	width: fit-content;
	height: fit-content;
}

.search-form {
	display: inline-block;
}

.search-button {
	vertical-align: top;
	margin-left: 10px;
}

.boxImege {
	width: fit-content;
}

.boxText {
	float:left;
	width: fit-content
}

.container {
	display:flex;
	overflow: hidden;
	width: fit-content;
	margin: 0 auto;
}

.detail {
	padding-top: 30px;
}

main{
	min-height: 81.7vh;
	position: relative;
	padding-bottom: 80px;
	box-sizing: border-box;
}	