@charset "UTF-8";

/* 全体 */
body {
	margin: 0;
}

/* ヘッダーフッター */
header,
footer {
	background-color: #6699FF;
	/* 背景色 */
	color: #000000;
	/* 文字色 */
}

header.admin,
footer.admin {
	background-color: rgb(255, 128, 0);
	/* 背景色 */
	color: #000000;
	/* 文字色 */
}

a:link {
	color: #000000;
	/* リンク色 */
}

a:visited {
	color: #000000;
	/* 訪問したことのあるリンク色 */
}

/* ヘッダー */
header {
	margin-top: 0;
}

.alate {
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color:white;
}

header h1 {
	font-size: 40px;
	margin: 0;
	text-align: left;
	height: 40px;
	width: fit-content;
	float: left;
}

#header {
	text-align: center;
	font-size:17pt;
	font-weight:bold;
}

/* ログアウトボタン */
.logout {
	position: relative;
	font-size:13pt;
	font-weight:bold;
	text-align: right;
	margin: 0;
}

.sitetitle{
	width: 100%;
	height: fit-content;
}

.menu {
	margin-right: 5px;
	margin-left: 5px;
}

/* モーダルウィンドウのスタイル */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	
}

/*モーダルウィンドウの表示*/
.modal-content{
	background-color: azure;
	margin: 10% auto;
	width: 35%;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation-name: modalopen;
	animation-duration: 1s;
	text-align: center;
	font-weight: bold;
}

/*モーダルウィンドウ内のヘッダーの文字*/
.modal-header{
	margin: 1rem 0;
}
/*モーダルウィンドウ内のヘッダー*/
.modal-header {
	background-color: aqua;
	padding:1px 1px;
}

/*モーダルウィンドウ内のフッター*/
.modal-footer{
	padding: 10px 16px;
	background-color: azure;
	color: #000000;
	text-align: center;
}

/*閉じるボタン*/
.close{
	color: black;
	float: right;
	font-size: 20px;
	font-weight: bold;
}

/*閉じるボタン（マウスオーバー時）*/
.close:hover{
	cursor: pointer;
}

/*閉じるボタン*/
.close:focus{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

/*モーダルウィンドウ内のボディの余白*/
.modal-body{
	padding: 20px 20px;
}

/*ログアウトボタン*/
.logoutbutton{
	margin: 10px;
	padding: 5px 20px;
	background-color: aqua;
	color: black;
	border: none;
	width: 150px;
	cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
}

/*ログアウトボタン（マウスオーバー時）*/
.logoutbutton:hover{
	background-color: aquamarine;
	color: black;
	font-weight: bold;
}

/*キャンセルボタン*/
.cancelbutton{
	margin: 10px;
	padding: 5px 20px;
	background-color: aqua;
	color: black;
	border: none;
	width: 150px;
	cursor: pointer;
	border-radius: 10px;
	font-weight: bold;
}

/*キャンセルボタン（マウスオーバー時）*/
.cancelbutton:hover{
	background-color: aquamarine;
	color: black;
	font-weight: bold;
}


/* フッター */
footer {
	text-align: center;
	padding-top: 5px;
	/* 内側余白(上) */
	padding-bottom: 0;
	/* 内側余白(下) */
	bottom: 0;
	position: fixed;
	width: 100%;
	font-size:15pt;
	font-weight:bold;
}