@charset "UTF-8";
.row {
  display: flex;
  flex-wrap:wrap;/*回り込み有効化*/
  text-align: center;
}
.col {
  width: calc(100% / 3);/*3等分*/
}
.num {
  text-align: center;
  font-size: 1.5rem;
  margin:10px;
  padding:20px 0;
}

main{
	min-height: 85vh;
	position: relative;
	padding-bottom: 80px;
	box-sizing: border-box;
}