@charset "UTF-8";

/*全体*/
body {
	background-color: rgb(255, 255, 255);/*背景色*/
	text-align: center;/*中央寄せ*/
	min-width: 900px; /* 最小幅 */
}

/*ヘッダー*/
header {
	background-color: lightblue;/*背景色*/
	color: black;/*文字の色*/
	padding-top: 5px; /* 内側余白(上) */
	padding-bottom: 5px; /* 内側余白(下) */
}

/*入力フォーム*/
input[type="text"] {
  width: 40%;/*横幅*/
  padding: 10px;/*内側余白*/
  margin-bottom: 30px;/*外側余白（下）*/
  border: 1px solid #ccc;/*線の太さ、色*/
  border-radius: 4px;/*角の丸み*/
}

input[type="password"]{
	width: 40%;/*横幅*/
	padding: 10px;/*内側余白*/
	margin-bottom: 30px;/*外側余白（下）*/
	border: 1px solid #ccc;/*線の太さ、色*/
	border-radius: 4px;/*角の丸み*/
}

/*登録ボタン*/
button[type="submit"] {
	width: 30%;/*横幅*/
	padding: 10px;/*内側余白*/
	background-color: aqua;/*背景色*/
	color: black;/*文字の色*/
	border: none;
	border-radius: 4px;/*角の丸み*/
	cursor: pointer;
}

/*ログインボタン（マウスオーバー時）*/
button[type="submit"]:hover {
	background-color: aquamarine;
	color: black;
}

.error{
	margin: 5px;
}
