@charset "UTF-8";
tablemarge{
	align-items: flex-start;
	display: flex;
}
#table1{
	margin-right: 0%;
	margin-left: auto;
	width: fit-content;
}
#table3{
	margin-right: 0%;
	margin-left: auto;
	width: fit-content;
}
#table2{
	margin-right: auto;
	margin-left: 0%;
	width: fit-content;
}
#table4{
	margin-right: auto;
	margin-left: 0%;
	width: fit-content;
}
tr.itemlist{
	height: 70px;
}

main{
	text-align: center;
	min-height: 85vh;
	position: relative;
	padding-bottom: 80px;
	box-sizing: border-box;
}
#table{
	margin-right:auto;
	margin-left: auto;
	width: 50%;
	white-space: pre-line;
}
.table{
	margin-left:auto;
	margin-right:auto;
	
}
.tabletitle{
	font-weight: bold;
	background-color: #003775;
	color:white;
	width:170px;
}
.btn{
	color:#003775;
  font-size: 20px;
  font-weight: bold;
  background: #6C9BD2;
  padding: 5px 30px;
  border-radius: 6px;
  transition: .3s;
  cursor: pointer;
}
.btn:hover{
	background-color: #003775;
	color: white;
	cursor: pointer;
}
.title{
	margin-top: 5px;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 20px;
}

textbox{
	margin-top: 5px;
	margin-bottom: 0;
	line-height: 20px;
}
input{
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;	
	width: 350px;
	border: 1px solid rgb(0, 0, 0);/*線の太さ、色*/
	border-radius: 4px;/*角の丸み*/
}
textarea{
	width: 80%;
	height: 200px;
}
.textimg{
	 object-fit: cover;
  height: 200px;
  width: 155px;
}