@charset "UTF-8";

/* 全体 */
#noticeTable {
	text-align: center;
}

/* 表線 */
table, th, td {
	border-collapse: collapse;
	border: 1px solid #7d8bae;
}

/* 表 */
table {
	margin: 5px auto;
	min-width: 800px;
}

th {
	background-color: black;
	color: white;
	height: 50px;
	font-size: 25px;
}

main{
	min-height: 85vh;
	position: relative;
	padding-bottom: 80px;
	box-sizing: border-box;
}