<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規募集</title>
<!--画面ID:302 新規募集作成画面-->
</head>
<body>
	<h1>新規募集</h1>
	
	<form action = "/bbs/addRequest" method ="post">
	<table border = "1">
		<tr>
			<th>商品状態</th>
			<td>
				<input type ="radio" name ="item_status" value ="1">新品
				<input type ="radio" name ="item_status" value ="2">中古
				<input type ="radio" name ="item_status" value ="3">書き込みあり
				<input type ="radio" name ="item_status" value ="4">破損あり
				<input type ="radio" name ="item_status" value ="5">どちらでもよい
			</td>
		</tr>
		<tr>
			<th>教科書</th>
			<td>
				<select name = "id">
					<option value="" disabled selected>タイトル名</option>
					<option th:each = "requests:${item_id}" th:value="" th:text= [[${@textbooks.title}]]></option>
				
<!--						<th:block th:each = "requests:${item_id}">-->
<!--					<option th:value = "" th:text = "${textbooks.title}"></option>-->
<!--						</th:block>-->
			</td>
		</tr>
	</table>
	<button>投稿</button>
	</form>
</body>
</html>