<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>マイページ</title>
</head>

<body>
	<h2>マイページ</h2>
	<table border="1">
		<!--		ユーザーの情報を書くテーブル-->
		<tr>
			<th>学籍番号</th>
			<td th:text="${user.studentNumber}"></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td th:text"${user.password}"></td>
			<td><form action="/account/setPassword" method="get"><button>変更</button></form></td>
		</tr>
		<tr>
			<th>自己紹介<br>メッセージ</th>
			<td th:text="${user.introduce}"></td>
			<td><form action="/account/setIntroduce" method="get"><button>更新</button></form></td>
		</tr>
	</table>
	<!--	注文履歴を書くテーブル-->
	<table border="1">
		<tr>
			<th colspan="2">注文履歴</th>
		</tr>
		<!--		buyListで繰り返し-->
		<tr th:each="buyItem:${buyList}">
			<th:block th:each="text:${textbookList}">
				<td th:if"${buyItem.textbookId} eq ${text.id}">
					<div th:text="${text.title}"></div>
				</td>
			</th:block>
			<span th:each="img:${imgList}">
				<td th:if="${img.itemId} eq ${buyItem.id}">
					<img src="[[${img.imagePath}]]">
				</td>
			</span>

		</tr>
	</table>
</body>

</html>