<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>マイページ</title>
	<link rel="stylesheet" type="text/css" href="/css/headerFooter.css">
	<link rel="stylesheet" type="text/css" href="/css/mypage.css">

</head>

<body>
	<header th:replace="header"></header>
	<main>
		<h2>マイページ</h2>
		<table id="table" border="1">
			<!--		ユーザーの情報を書くテーブル-->
			<tr>
				<th class="tabletitle">学籍番号</th>
				<td th:text="${user.personalNumber}" colspan="2"></td>
			</tr>
			<tr>
				<th class="tabletitle">パスワード</th>
				<td>●●●●●●●●</td>
				<td>
					<form action="/account/setPassword" method="get"><button class="btn">変更</button></form>
				</td>
			</tr>
			<tr>
				<th class="tabletitle">自己紹介<br>メッセージ</th>
				<td th:text="${user.introduce}"></td>
				<td>
					<form action="/account/setIntroduce" method="get"><button class="btn">更新</button></form>
				</td>
			</tr>
		</table>
		<br>
		<br>
		<tablemarge>
			<!--	注文履歴を書くテーブル-->
			<th:block th:if="${countbuyList > 0}">
				<table class="table" border="1" id="table1">
					<tr>
						<th colspan="3" class="tabletitle" id="tabletitle1">注文履歴</th>
					</tr>

					<!--		buyListで繰り返し-->
					<buylistloop th:each="buyItem:${buyList}">
						<tr class="itemlist">
							<textloop th:each="text:${textbookList}">
								<td th:if="${buyItem.textbookId} eq ${text.id}">
									<div th:text="${text.title}"></div>
								</td>
							</textloop>
							<imageloop th:each="img:${imgList}">
								<td th:if="${img.itemId == buyItem.id}">
									<img class="textimg" th:src="'/img/' + ${img.imagePath}" th:alt="'/img/'+${img.imagePath}" />
								</td>
							</imageloop>
							<td th:if="${buyItem.buyerId == @account.id && buyItem.dealStatus == 4}">
								<form th:action="@{/deal/{id}(id=${buyItem.id})}" method="get">
									<button class="btn">レビュー画面へ</button>
								</form>
							</td>
						</tr>
					</buylistloop>
				</table>
			</th:block>

			<th:block th:if="${countbuyList==0}">
				<table class="table" border="1" id="table3">
					<tr>
						<th class="tabletitle" id="tabletitle3">注文履歴</th>
					</tr>
					<td>注文履歴はありません</td>
				</table>
			</th:block>

			<th:block th:if="${countsellList>0}">
				<table class="table" border="1" id="table2">
					<tr>
						<th colspan="3" class="tabletitle" id="tabletitle2">販売履歴</th>
					</tr>

					<!--					buyListで繰り返し-->
					<buylistloop th:each="sellItem:${sellList}">
						<tr class="itemlist">
							<textloop th:each="text:${textbookList}">
								<td th:if="${sellItem.textbookId} eq ${text.id}">
									<div th:text="${text.title}"></div>
								</td>
							</textloop>
							<imageloop th:each="img2:${imgList2}">
								<td th:if="${img2.itemId == sellItem.id}">
									<img class="textimg" th:src="'/img/' + ${img2.imagePath}" th:alt="'/img/'+${img2.imagePath}" />
								</td>
							</imageloop>
							<td th:if="${sellItem.sellerId == @account.id && sellItem.dealStatus == 4}">
								<form th:action="@{/deal/{id}(id=${sellItem.id})}" method="get">
									<button class="btn">取引画面へ</button>
								</form>
							</td>
						</tr>
					</buylistloop>

				</table>
			</th:block>
			<th:block th:if="${countsellList==0}">
				<table class="table" border="1" id="table4">
					<tr>
						<th class="tabletitle" id="tabletitle4">購入履歴</th>
					</tr>
					<td>購入履歴はありません</td>
				</table>
			</th:block>
		</tablemarge>

		<table class="table" border="1" id="table5">
			<tr>
				<th></th>
				<th>月</th>
				<th>火</th>
				<th>水</th>
				<th>木</th>
				<th>金</th>
				<th>土</th>
			</tr>
			<tr>
				<th>1</th>
				<!--月曜1限目-->
				<td th:if="${class11 != null}">
					<div th:href="@{/account/viewTimetable?lessonId={id}(id=${class11.id})}" th:text="${class11.name}">
					</div>
				</td>
				<td th:if="${class11 == null}"><a href="/account/addTimetable?day=1&period=1">授業登録</a></td>
				<!--火曜1限目-->
				<td th:if="${class21 != null}">
					<div th:href="@{/account/viewTimetable?lessonId={id}(id=${class21.id})}" th:text="${class21.name}">
					</div>
				</td>
				<td th:if="${class21 == null}"><a href="/account/addTimetable?day=2&period=1">授業登録</a></td>
				<!--水曜1限目-->
				<td th:if="${class31 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class31.id})}" th:text="${class31.name}">
					</div>
				</td>
				<td th:if="${class31 == null}"><a href="/account/addTimetable?day=3&period=1">授業登録</a></td>
				<!--木曜1限目-->
				<td th:if="${class41 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class41.id})}" th:text="${class41.name}">
					</div>
				</td>
				<td th:if="${class41 == null}"><a href="/account/addTimetable?day=4&period=1">授業登録</a></td>
				<!--金曜1限目-->
				<td th:if="${class51 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class51.id})}" th:text="${class51.name}">
					</div>
				</td>
				<td th:if="${class51 == null}"><a href="/account/addTimetable?day=5&period=1">授業登録</a></td>
				<!--土曜1限目-->
				<td th:if="${class61 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class61.id})}" th:text="${class61.name}">
					</div>
				</td>
				<td th:if="${class61 == null}"><a href="/account/addTimetable?day=6&period=1">授業登録</a></td>
			</tr>

			<tr>
				<th>2</th>
				<!--月曜2限目-->
				<td th:if="${class12 != null}">
					<div th:href="@{/account/viewTimetable?lessonId={id}(id=${class12.id})}" th:text="${class12.name}">
					</div>
				</td>
				<td th:if="${class12 == null}"><a href="/account/addTimetable?day=1&period=2">授業登録</a></td>
				<!--火曜2限目-->
				<td th:if="${class22 != null}">
					<div th:href="@{/account/viewTimetable?lessonId={id}(id=${class22.id})}" th:text="${class22.name}">
					</div>
				</td>
				<td th:if="${class22 == null}"><a href="/account/addTimetable?day=2&period=2">授業登録</a></td>
				<!--水曜2限目-->
				<td th:if="${class32 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class32.id})}" th:text="${class32.name}">
					</div>
				</td>
				<td th:if="${class32 == null}"><a href="/account/addTimetable?day=3&period=2">授業登録</a></td>
				<!--木曜2限目-->
				<td th:if="${class42 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class42.id})}" th:text="${class42.name}">
					</div>
				</td>
				<td th:if="${class42 == null}"><a href="/account/addTimetable?day=4&period=2">授業登録</a></td>
				<!--金曜2限目-->
				<td th:if="${class52 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class52.id})}" th:text="${class52.name}">
					</div>
				</td>
				<td th:if="${class52 == null}"><a href="/account/addTimetable?day=5&period=2">授業登録</a></td>
				<!--土曜2限目-->
				<td th:if="${class62 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class62.id})}" th:text="${class62.name}">
					</div>
				</td>
				<td th:if="${class62 == null}"><a href="/account/addTimetable?day=6&period=2">授業登録</a></td>
			</tr>

			<tr>
				<th>3</th>
				<!--月曜3限目-->
				<td th:if="${class13 != null}">
					<div th:href="@{/account/viewTimetable?lessonId={id}(id=${class13.id})}" th:text="${class13.name}">
					</div>
				</td>
				<td th:if="${class13 == null}"><a href="/account/addTimetable?day=1&period=3">授業登録</a></td>
				<!--火曜3限目-->
				<td th:if="${class23 != null}">
					<div th:href="@{/account/viewTimetable?lessonId={id}(id=${class23.id})}" th:text="${class23.name}">
					</div>
				</td>
				<td th:if="${class23 == null}"><a href="/account/addTimetable?day=2&period=3">授業登録</a></td>
				<!--水曜3限目-->
				<td th:if="${class33 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class33.id})}" th:text="${class33.name}">
					</div>
				</td>
				<td th:if="${class33 == null}"><a href="/account/addTimetable?day=3&period=3">授業登録</a></td>
				<!--木曜3限目-->
				<td th:if="${class43 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class43.id})}" th:text="${class43.name}">
					</div>
				</td>
				<td th:if="${class43 == null}"><a href="/account/addTimetable?day=4&period=3">授業登録</a></td>
				<!--金曜3限目-->
				<td th:if="${class53 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class53.id})}" th:text="${class53.name}">
					</div>
				</td>
				<td th:if="${class53 == null}"><a href="/account/addTimetable?day=5&period=3">授業登録</a></td>
				<!--土曜3限目-->
				<td th:if="${class63 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class63.id})}" th:text="${class63.name}">
					</div>
				</td>
				<td th:if="${class63 == null}"><a href="/account/addTimetable?day=6&period=3">授業登録</a></td>
			</tr>

			<tr>
				<th>4</th>
				<!--月曜4限目-->
				<td th:if="${class14 != null}">
					<div th:href="@{/account/viewTimetable?lessonId={id}(id=${class14.id})}" th:text="${class14.name}">
					</div>
				</td>
				<td th:if="${class14 == null}"><a href="/account/addTimetable?day=1&period=4">授業登録</a></td>
				<!--火曜4限目-->
				<td th:if="${class24 != null}">
					<div th:href="@{/account/viewTimetable?lessonId={id}(id=${class24.id})}" th:text="${class24.name}">
					</div>
				</td>
				<td th:if="${class24 == null}"><a href="/account/addTimetable?day=2&period=4">授業登録</a></td>
				<!--水曜4限目-->
				<td th:if="${class34 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class34.id})}" th:text="${class34.name}">
					</div>
				</td>
				<td th:if="${class34 == null}"><a href="/account/addTimetable?day=3&period=4">授業登録</a></td>
				<!--木曜4限目-->
				<td th:if="${class44 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class44.id})}" th:text="${class44.name}">
					</div>
				</td>
				<td th:if="${class44 == null}"><a href="/account/addTimetable?day=4&period=4">授業登録</a></td>
				<!--金曜4限目-->
				<td th:if="${class54 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class54.id})}" th:text="${class54.name}">
					</div>
				</td>
				<td th:if="${class54 == null}"><a href="/account/addTimetable?day=5&period=4">授業登録</a></td>
				<!--土曜4限目-->
				<td th:if="${class64 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class64.id})}" th:text="${class64.name}">
					</div>
				</td>
				<td th:if="${class64 == null}"><a href="/account/addTimetable?day=6&period=4">授業登録</a></td>
			</tr>

			<tr>
				<th>5</th>
				<!--月曜5限目-->
				<td th:if="${class15 != null}">
					<div th:href="@{/account/viewTimetable?lessonId={id}(id=${class15.id})}" th:text="${class15.name}">
					</div>
				</td>
				<td th:if="${class15 == null}"><a href="/account/addTimetable?day=1&period=5">授業登録</a></td>
				<!--火曜5限目-->
				<td th:if="${class25 != null}">
					<div th:href="@{/account/viewTimetable?lessonId={id}(id=${class25.id})}" th:text="${class25.name}">
					</div>
				</td>
				<td th:if="${class25 == null}"><a href="/account/addTimetable?day=2&period=5">授業登録</a></td>
				<!--水曜5限目-->
				<td th:if="${class35 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class35.id})}" th:text="${class35.name}">
					</div>
				</td>
				<td th:if="${class35 == null}"><a href="/account/addTimetable?day=3&period=5">授業登録</a></td>
				<!--木曜5限目-->
				<td th:if="${class45 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class45.id})}" th:text="${class45.name}">
					</div>
				</td>
				<td th:if="${class45 == null}"><a href="/account/addTimetable?day=4&period=5">授業登録</a></td>
				<!--金曜5限目-->
				<td th:if="${class55 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class55.id})}" th:text="${class55.name}">
					</div>
				</td>
				<td th:if="${class55 == null}"><a href="/account/addTimetable?day=5&period=5">授業登録</a></td>
				<!--土曜5限目-->
				<td th:if="${class65 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class65.id})}" th:text="${class65.name}">
					</div>
				</td>
				<td th:if="${class65 == null}"><a href="/account/addTimetable?day=6&period=5">授業登録</a></td>
			</tr>

			<tr>
				<th>6</th>
				<!--月曜6限目-->
				<td th:if="${class16 != null}">
					<div th:href="@{/account/viewTimetable?lessonId={id}(id=${class16.id})}" th:text="${class16.name}">
					</div>
				</td>
				<td th:if="${class16 == null}"><a href="/account/addTimetable?day=1&period=6">授業登録</a></td>
				<!--火曜6限目-->
				<td th:if="${class26 != null}">
					<div th:href="@{/account/viewTimetable?lessonId={id}(id=${class26.id})}" th:text="${class26.name}">
					</div>
				</td>
				<td th:if="${class26 == null}"><a href="/account/addTimetable?day=2&period=6">授業登録</a></td>
				<!--水曜6限目-->
				<td th:if="${class36 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class36.id})}" th:text="${class36.name}">
					</div>
				</td>
				<td th:if="${class36 == null}"><a href="/account/addTimetable?day=3&period=6">授業登録</a></td>
				<!--木曜6限目-->
				<td th:if="${class46 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class46.id})}" th:text="${class46.name}">
					</div>
				</td>
				<td th:if="${class46 == null}"><a href="/account/addTimetable?day=4&period=6">授業登録</a></td>
				<!--金曜6限目-->
				<td th:if="${class56 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class56.id})}" th:text="${class56.name}">
					</div>
				</td>
				<td th:if="${class56 == null}"><a href="/account/addTimetable?day=5&period=6">授業登録</a></td>
				<!--土曜6限目-->
				<td th:if="${class66 != null}">
					<div th:href="@{/account/viewTimetable?lesoonId=={id}(id=${class66.id})}" th:text="${class66.name}">
					</div>
				</td>
				<td th:if="${class66 == null}"><a href="/account/addTimetable?day=6&period=6">授業登録</a></td>
			</tr>
		</table>

		<br>
		<br>
		<br>
		<footer th:replace="footer"></footer>
	</main>

</body>

</html>