<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワード変更画面</title>
</head>
<body>
	<ul th:if="${errorList}" th:each="error:${errorList}">
		<li th:text="${error}"></li>
	</ul>
	<table border="1">
		<tbody>
		<tr>
			<th><h2>パスワード変更</h2></th>
		</tr>
		<tr>
			<td>
			<form action="/account/setPassword" method="post">
				<textboxA>
					<p>パスワード</p>
					<input type="text" name="oldPassword">
				</textboxA>
				<textboxB>
					<p>新しいパスワード</p>
					<input type="text" name="newPassword">
				</textboxB>
				<textboxC>
					<p>確認用パスワード</p>
					<input type="text" name="reNewPassword">
				</textboxC>
				<br>
				<button>変更</button>
			</form>
			</td>
		</tr>
		</tbody>
	</table>
</body>
</html>