<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>時間割変更</title>
	<link rel="stylesheet" type="text/css" href="/css/setTimetable.css">
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<h1>時間割変更</h1>
		<form action="?" method="?">
			<input type="hidden" name="timetableId" th:value="${timetable.id}">
			<table border="1" id="viewtimetable">
				<tr>
					<th class="tabletitle">授業名</th>
					<td class="tabledata"><select name="lessonId" id="option">
							<option th:each="lesson:${lessons}" th:value="${lesson.id}">[[${lesson.name}]](<th:block th:each="user:${users}" th:if="${user.id == lesson.teacherId}"><span th:each="teacher:${teachers}" th:if="${teacher.personalNumber == user.personalNumber}" th:text="${teacher.name}"></span></th:block>)</option>
						</select></td>
				</tr>
			</table>
			<button type="submit" formmethod="post" formaction="/account/setTimetable" class="btn">更新</button><button type="submit" formmethod="post" formaction="/account/deleteTimetable" class="btn">削除</button>
		</form>
		<footer th:replace="footer"></footer>
	</main>
</body>

</html>