<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ユーザー詳細</title>
	<link rel="stylesheet" type="text/css" href="/css/user.css" />
</head>

<body>
	<header th:replace="header"></header>
	<main>
		<h2>[[${user.studentNumber}]]</h2>
		<table border="1" style="width: 60%;">
			<tr>
				<td th:text="${user.introduce}"></td>
			</tr>
		</table>
		<br>
		<p>出品履歴</p>
		<div class="container">
			<div th:each="sellItem:${sellItemList}" class="box">
					<p th:if="${sellItem.itemStatus == 3}">出品中</p>
					<p th:if="!${sellItem.itemStatus == 3}">SOLD OUT</p>
				<img th:each="image:${imageList}" th:if="${image.itemId == sellItem.id}"
					th:src="'/img/' + ${image.imagePath}" th:alt="'/img/'+${image.imagePath}" />
				<p th:each="textbook:${textbooks}" th:if="${textbook.id == sellItem.textbookId}"
					th:text="${textbook.title}"></p>
			</div>
		</div>
		<p>レビュー一覧</p>
		<table border="1" style="width: 60%;">
			<tr th:each="review:${reviewList}">
				<td th:text="${review.message}"></td>
			</tr>
		</table>
		
		<footer th:replace="footer"></footer>
	</main>
</body>

</html>