<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー詳細</title>
	<link rel="stylesheet" type="text/css" href="/css/home.css" />
	<link rel="stylesheet" type="text/css" href="/css/mypage.css">
</head>
<body>
	<header th:replace="header"></header>
	<main>
		<h2>[[${user.studentNumber}]]</h2>
		<table border="1" style="width: 60%;">
			<tr>
				<td th:text="${user.introduce}"></td>
			</tr>
		</table>
		<br>
		
		<div>
			<div th:each="sellItem${sellItemList}">
				<img th:each="image:${imageList}" th:src="'/img/' + ${image.imagePath}" th:alt="'/img/'+${image.imagePath}" /><p></p>
			</div>
		
		<table class="table" border="1">
			<tr>
				<th colspan="2" class="tabletitle">注文履歴</th>
			</tr>
			<!--		buyListで繰り返し-->
			<buylistloop th:each="buyItem:${buyList}">
				<tr>
					<textloop th:each="text:${textbookList}">
						<td th:if="${buyItem.textbookId} eq ${text.id}">
							<div th:text="${text.title}"></div>
						</td>
					</textloop>
					<imageloop th:each="img:${imgList}">
						<td th:if="${img.itemId == buyItem.id}">
							<img th:src="'/img/' + ${img.imagePath}" th:alt="'/img/'+${img.imagePath}" />
						</td>
					</imageloop>
				</tr>
			</buylistloop>
		</table>
		<br>
		<br>
		<br>
	</main>
	<footer th:replace="footer"></footer>
</body>
</body>
</html>